<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <div class="message" id="message" th:if="${message != null }">
        [[${message}]]
    </div>

    <h2>Registration Form</h2>
    <form id="registrationForm"
          method="post"
          th:action="@{/registration}"
          role="form"
          th:object="${user}"
    >
        <div class="form-group">
            <label for="fullname">FULLNAME:</label>
            <input th:field="*{fullName}" type="text" id="fullname" name="fullname" required placeholder="enter your fullname">
        </div>

        <div class="form-group">
            <label for="email">EMAIL:</label>
            <input th:field="*{email}" type="email" id="email" name="email" required placeholder="enter your valid email" >
        </div>

        <div class="form-group">
            <label for="password">PASSWORD:</label>
            <input th:field="*{password}" type="password" id="password" name="password" required placeholder="enter your password">
        </div>

        <input type="submit" value="Register">
    </form>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var messageDiv = document.getElementById('message');
        if (messageDiv.innerText.trim() !== '') {
            messageDiv.style.display = 'block';
        }
    });
</script>
</body>
</html>
